@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Default background color of <body />...etc */
    --background: 270 15% 95%;
    --background-content: 0 0% 100%; /* #fff */
    --foreground: 0 0% 0%; /*#000*/

    --muted: 0 0% 96%; /* #F4F4F4 */
    --muted-foreground: 240 4% 35%; /*#56565D*/

    --text: 240 12% 34%; /* #4C4C61 */
    --text-secondary: 240 14% 73%; /* #B1B1C4 */
    --text-display: 240 28% 17%; /* #1F1F37 */

    --border: 255 12% 93%; /* #ECEBEF */
    --input: 0 0% 96%; /*#F4F4F4*/
    --input-foreground: 270 6% 55%; /*#8C8593*/

    --card: 0 0% 100%; /* #fff */
    --card-foreground: 0 0% 0%; /*#000*/

    --primary: 26 90% 67%; /*#F7A15F*/
    --primary-100: 26 100% 96%; /*#FFF3EB*/
    --primary-200: 31 100% 94%; /*#FFF0E0*/
    --primary-300: 26 100% 87%; /*#FFDABD*/
    --primary-900: 31 100% 50%; /*#FF8400*/
    --primary-foreground: 0 0% 100%; /*#fff*/

    --secondary: 7 90% 67%; /*#F7715F*/
    --secondary-foreground: 0 0 100%; /* #fff */

    --popover: 0 0 100%; /* #fff */
    --popover-foreground: 240 10% 3.9%;

    --danger: 0 92% 95%; /* #FEE7E7 */
    --danger-foreground: 7 90% 67%; /*#F74242*/

    /* --ring: 215 20.2% 65.1%; */

    --radius: 1rem;
  }

  .dark {
    --text: 0 0 100%; /*#fff*/
    --text-secondary: 0 0 100%; /*#fff*/
    --text-display: 0 0 100%; /*#fff*/
    --background: 20 14.3% 4.1%;
    --background-content: 30 4% 19%; /* #32302E */
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 26 90% 67%;
    --primary-foreground: 0 0% 98%;
    --secondary: 220 13% 91%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 0% 24%;
    --ring: 26 85% 49.8%;
    --radius: 0.6rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-white text-slate-800 dark:bg-slate-900 dark:text-slate-300;
  }
}

.card::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
  top: 7px;
  left: 7px;
  border: 1px solid black;
  transition: all 0.3s ease-in-out;
  @apply bg-omsu;
}

@layer utilities {
  .text-gradient {
    background-clip: text;
    @apply bg-omsu;
    color: transparent;
  }
  .scrollbar-medium::-webkit-scrollbar {
    width: 12px;
  }

  .title {
    @apply text-3xl font-semibold;
  }

  .subtitle {
    @apply text-gray-400 dark:text-gray-200;
  }
}
